<section class="tab">
    <ul class="nav nav-pills">
        <li ng-class="{active : panel.isSet(1)}">
            <a href="#panel-1" ng-click="panel.setTab(1, $event)">Description</a></li>
        <li ng-class="{active : panel.isSet(2)}">
            <a href="#panel-2" ng-click="panel.setTab(2, $event)">Specs</a></li>
        <li ng-class="{active : panel.isSet(3)}">
            <a href="#panel-3" ng-click="panel.setTab(3, $event)">Reviews</a></li>
        <li ng-class="{active : panel.isSet(4)}">
            <a href="#panel-4" ng-click="panel.setTab(4, $event)">Custom attribute directive</a></li>
    </ul>
    <div id="panel-1" class="panel" ng-include="'directives/product-description.html'" ng-show="panel.isSet(1)"></div>

    <product-spec id="panel-2" class="panel" ng-show="panel.isSet(2)" ></product-spec>

    <product-review id="panel-3" class="panel" ng-show="panel.isSet(3)"></product-review>

    <div id="panel-4" class="panel" my-custom-attr-directive  ng-show="panel.isSet(4)"></div>

</section>